# Define automatic behaviour for line endings normalization
* text=auto

# Track files that need to keep Unix-style line endings
**/*.sh text eol=lf
**/makefile text eol=lf
**/Makefile text eol=lf
**/makefile.* text eol=lf
**/Makefile.* text eol=lf